.btn {
    display: inline-block;
    min-width: 52px;
    padding: 16px 20px;
    background-color: #EA1E63;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    
}
    .btn:hover {
        box-shadow: 0 3px 6px #000000;
    }
    .btn.btn-round {
        font-size: 22px;
        border-radius: 50%;
        position: absolute;
        top: -60px;
        right: 0;
        
    }