form {
    display: inline-block;
    width: 100%;
}

    form > input,
    form > textarea {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 25px;
        border: none;
        border-bottom: 1px solid #cccccc;
        resize: vertical;
    }
    form > textarea {
        min-height: 100px;
        max-height: 350px;
    }
    .two-in-row {
        width: 45%;
        float: left;
    }
    .two-in-row:last-of-type {
        margin-left: 10%;
    } 

.hero > .subscribe {
    display: inline-block;
    width: 100%;
    color: #ffffff;
}

.hero > .subscribe > input {
        display: inline-block;
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid #ffffff;
        height: 25px;
        color: #ffffff;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }