.container {
    display: inline-block;
    width: 100%;
}
.bg-blue {
    background-color: #03A9F4;
}



/*********************
       * HERO 
 *********************/
.hero {
    display: inline-block;
    width: 600px;
    margin: 40px calc( (100% - 600px) / 2) 30px;
    text-align: center;
}
    .container.banner-foto {
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(../img/banner.jpg);
    }
    .hero > img {
        display: inline-block;
        margin-bottom: 30px;
    }
    .hero > h1 {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
    }
    .hero > p {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        font-size: 23px;
        line-height: 28px;
        color: #99999F;
        
    }
    .hero > .clock {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
    }
    .hero > form {
        display: inline-block;
        width: 100%;
        margin-bottom: 60px;
    }
        .hero > form > input::placeholder {
            color: #ffffff;
    }

    .hero > .mouse {
        display: inline-block;
    }

 /*********************
       * MAIN CONTENT 
 *********************/
 .content {
    display: inline-block;
    width: 1100px;
    margin: 60px calc( (100% - 1100px) / 2);
}

    .content > .left {
        display: inline-block;
        width: 50%;
        float: left;
    }
    .content > .right {
        display: inline-block;
        width: 40%;
        float: right;

    }
    .content h3 {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .content p {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 22px;
        color: #99999F;
    }
        .content p > a {
            color: red;
            text-decoration: none;
        }
        .content p > a:hover {
            text-decoration-line: underline;
        }

        .content form > .btn {
            float: right;
        }

 /*********************
       * FOOTER
 *********************/
.footer  {
    display: inline-block;
    width: 1100px;
    margin: 30px calc( (100% - 1100px) / 2);
    text-align: center;
    position: relative;
}
    .footer > .socials {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 30px;

    }
        .footer > .socials > a {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 10px;
            border-radius: 50%;
            color: white;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            line-height: 40px;
            font-size: 20px; 
        }
        .footer > .socials > a:hover {
            background-color: #ffffff;
            color: #03A9F4;
            transition: ease-in ;
        }
        
    .footer > .footer-content {
        display: inline-block;
        width: 600px;
        margin: 0px calc( (100% - 600px) / 2);
    }
        .footer > .footer-content > img {
            display: inline-block;
            margin-top: 50px;
            margin-bottom: 30px;
            
        }
        .footer > .footer-content {
           color: #fffa;
           font-size: 15px;
           line-height: 25px;
           margin-bottom: 50px;
        }
            .footer span {
                display: inline-block;
            }

            .footer span.bars {
                display: inline-block;
                border: none;
                border-right: 1px solid #fffa;
                border-left: 1px solid #fffa;
                margin: 0 10px;
                padding: 0 10px;
            } 
        .footer > .footer-content > p {
            display: inline-block;
            
        }
        .footer > .footer-content a {
            display: inline-block;
            color: #ffffff;
            text-decoration: none;
        }
            .footer-content a:hover {
                text-decoration-line: underline;
            }