body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
}
    main {
        display: inline-block;
        width: 50%;
        /* margin-top: 100px;
        margin-left: 25%; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        img {
            display: inline-block;
            width: 35%;
            float: left;
        
        }
        div {
            display: inline-block;
            width: 55%;
            float: right;
            text-align: center;
            margin-top: 65px;
        }

            h1 {
                display: inline-block;
                width: 100%;
                font-size: 60px;
                margin: 0;
                margin-bottom: 20px;
                color: #343E4A;
            } 

            p {
                display: inline-block;
                width: 100%;
                font-size: 23px;
                margin: 0;
                margin-bottom: 10px;
                color: #696E8B;
            }
            a {
                display: inline-block;
                font-size: 15px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                border-radius: 3px;
                padding: 10px 20px;
            }
            

